<a href="https://colab.research.google.com/github/ramonparaiba/Aulas-Logica-de-Programcao-e-Algoritmos/blob/main/Aula_006_Colecoes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

COLEÇÕES EM PYTHON

Em Python, as coleções são estruturas de dados que permitem armazenar e manipular um grupo de elementos relacionados. As coleções são amplamente utilizadas em programação porque permitem que você trabalhe com dados de forma mais eficiente e organizada.

* Listas: são coleções ordenadas de elementos mutáveis.
* Tuplas: são coleções ordenadas de elementos imutáveis.
* Dicionários: são coleções não ordenadas de pares chave-valor mutáveis.
* Conjuntos: são coleções não ordenadas de elementos mutáveis e não podem conter elementos duplicados.

/ Também é comum o uso do termo "iterável" para se referir às coleções

#Listas
________________________
Ordenadas e Mutáveis

In [1]:
#Criando Listas
lista_vazia = []

#Lista com elementos
lista_Com_coisas = [2, 4, 3, 'Zé', 'Mané']

In [ ]:
#Acessando Elementos da lista
lista = [1, 2, 3, "quatro", "cinco"]

print(lista[0])  # 1
print(lista[3])  # "quatro"
print(lista[-1]) # "cinco"

* Operações com Lista

@ Adicionar elementos
  * Para adicionar elementos use um dos métodos `append()` ou `extend()` 
  *`append()` - para adicionar um elemento ao final da lista
  *`extend()` - para adicionar vários elementos ao final da lista

In [10]:
a = [2, 3, 4]
b = [6,8,9]
print(a)

[2, 3, 4]

@ Remoção de elementos

* Para remover  `remove()` ou `pop()`
 * `remove()` - Remove o primeiro elemento
 * `pop()` - Remove o último elemento

In [ ]:
#Crie uma lista de números e 
#remova o primeiro elemento da lista
#remova o último elemento da lista

* Ordenação de Elementos

  * lista . `sort()` - ordena em ordem crescente
  * lista . `sort(reverse=True)` - ordena em ordem decrescente

In [ ]:
#1 - Crie uma lista de notas, e exiba-a da menor para a maior
#2 - Crie uma lista de nomes de frutas e ordene-a em ordem decrescente

* Função `map()` serve para aplicar uma função a cada elemento de uma lista, dispensando o uso de um loop (for ou while)
  * `map(funcao, sequencia)`

* Função `filter()` serve para filtrar elementos de uma sequência

In [ ]:
#Exemplo função map - cria uma nova lista com o dobro 
numeros = [2, 4, 6]
nova_lista = list(map(lambda x : x*2, numeros))
nova_lista

In [ ]:
#Sem usar função map associada à uma função lambda
new_list = []
for n in numeros:
  new_list.append(n*2)

new_list

In [ ]:
#Exemplo função filter - a partir de uma lista de nomes, criar uma nova lista apenas com palavras com mais de 5 caracteres

nomes = ['josé', 'joaquim', 'Sebastião', 'Angélica', 'Leonardo', 'Luana', 'Bárbara']

new_list = list(filter(lambda x : len(x)>5, nomes))
new_list

* Exercícios usando a função map
1. Dada uma lista de números, retorne uma lista contendo o quadrado de cada número.
2. Dada uma lista de nomes, retorne uma lista contendo o tamanho de cada nome.
3. Dada uma lista de números, retorne uma lista contendo apenas os números pares.
4. Dada uma lista de nomes, retorne uma lista contendo apenas os nomes que começam com a letra "A".
5. Recebe uma lista com notas de alunos, retorna apenas os aprovados (nota maior ou igual a 7)
6. Recebe uma lista de nomes, retorna apenas os que começam com vogal
7. Escreva uma função que recebe uma lista de números e retorna uma nova lista contendo apenas os números que são divisíveis por 3 e 5.
8. Escreva uma função que recebe uma lista de strings e retorna uma nova lista contendo apenas as strings que começam com uma letra maiúscula.
9. Recebe uma lista de strings, e retorna uma lista apenas com as iniciais de cada string.
10. Escreva uma função que recebe uma lista de números e retorna uma nova lista contendo apenas os números pares elevados ao quadrado.

In [16]:
#1
numeros = [7, 6, 8, 12, 7]

new_list = list(map(lambda x : x**2, numeros))
new_list

[49, 36, 64, 144, 49]

In [19]:
#2 
nomes = ['fada', 'ferro', 'miragem', 'atalho', 'nó']

new_list = list(map(lambda x : len(x),  nomes))
new_list

[4, 5, 7, 6, 2]

In [25]:
#3
numeros = [7, 3, 1, 4, 8, 23, 12]

new_list = list(filter(lambda x: x%2==0, numeros ))

new_list

[4, 8, 12]

In [24]:
#4
nomes = ['fada', 'arado', 'miragem', 'atalho', 'alho']

new_list = list(filter(lambda x : x[0] == 'a', nomes))
new_list

['arado', 'atalho', 'alho']

In [29]:
#5 
notas = [5, 6.5, 7.5, 9, 8, 2, 6]

new_notas = list(filter(lambda x : x >= 7, notas))

new_notas

[7.5, 9, 8]

In [45]:
#6
palavras = ['zangão', 'batata', 'ameixa', 'estrago', 'fanta', 'unha', 'ovo']

new_List = list(filter(lambda x : x[0].upper() in 'AEIOU', palavras))

new_List

['ameixa', 'estrago', 'unha', 'ovo']

In [46]:
#7
numeros = [2, 3, 15, 30, 23, 60, 2, 45]

new_list = list(filter(lambda x : x%3 == 0 and x%5== 0, numeros))
new_list

[15, 30, 60, 45]

In [41]:
#8
nomes = ['zangão', 'Zico', 'ameixa', 'Flamengo', 'fanta', 'unha', 'ovo']

new_List = list(filter(lambda x : x[0].isupper(), nomes))

new_List

['Zico', 'Flamengo']

In [43]:
#9

iniciais = list(map(lambda x : x[0], nomes))

iniciais

['z', 'Z', 'a', 'F', 'f', 'u', 'o']

In [44]:
#Escreva uma função que recebe uma lista de números e retorna uma nova lista contendo apenas os números pares elevados ao quadrado.

lista = [2, 3, 4, 1, 23, 6, 3]

pares_quadrados = list(map(lambda x : x**2, filter(lambda y : y%2==0, lista)))

pares_quadrados

[4, 16, 36]

- exercícios extra
1. Escreva uma função que recebe uma lista de números e retorna uma nova lista contendo apenas os números positivos.
2. Escreva uma função que recebe uma lista de números e retorna uma nova lista contendo apenas os números divisíveis por 3.
3. Escreva uma função que recebe uma lista de strings e retorna uma nova lista contendo as strings em ordem reversa.
4. Escreva uma função que recebe uma lista de números e retorna uma nova lista contendo o cubo de cada número ímpar.