<a href="https://colab.research.google.com/github/ramonparaiba/Aulas-Logica-de-Programcao-e-Algoritmos/blob/main/Aula_006_Colecoes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

COLEÇÕES EM PYTHON

Em Python, as coleções são estruturas de dados que permitem armazenar e manipular um grupo de elementos relacionados. As coleções são amplamente utilizadas em programação porque permitem que você trabalhe com dados de forma mais eficiente e organizada.

* Listas: são coleções ordenadas de elementos mutáveis.
  * Exemplo: uma lista de compras de supermercado que você precisa alterar durante a sua visita, incluindo itens duplicados, como ovos, leite, pão etc.
* Tuplas: são coleções ordenadas de elementos imutáveis.
  * Exemplo: coordenadas geográficas de uma cidade, onde as informações de latitude e longitude não mudam.
* Dicionários: são coleções não ordenadas de pares chave-valor mutáveis.
  * Exemplo: um dicionário de palavras em um dicionário, onde as chaves são as palavras e os valores são as definições.
* Conjuntos: são coleções não ordenadas de elementos mutáveis e não podem conter elementos duplicados.
  * Exemplo: uma lista de emails de clientes para campanhas de marketing, onde você precisa garantir que cada endereço de email seja exclusivo.

/ Também é comum o uso do termo "iterável" para se referir às coleções

#Listas
________________________
Ordenadas e Mutáveis

In [ ]:
#Criando Listas
lista_vazia = []

#Lista com elementos
lista_Com_coisas = [2, 4, 3, 'quatro', 'cinco']

In [ ]:
#Acessando Elementos da lista
lista = [1, 2, 3, "quatro", "cinco"]

print(lista[0])  # 1
print(lista[3])  # "quatro"
print(lista[-1]) # "cinco"

1
quatro
cinco

* Operações com Lista

@ Adicionar elementos
  * Para adicionar elementos use um dos métodos `append()` ou `extend()` 
  *`append()` - para adicionar um elemento ao final da lista
  *`extend()` - para adicionar vários elementos ao final da lista

In [3]:
nomes = ['ze', 'tião', 'joaquim']
nomes.append('julia')

#vários valores
outrosNomes = ['Ana', 'Zabé', 'Maria']
nomes.extend(outrosNomes)

nomes

['ze', 'tião', 'joaquim', 'julia', 'Ana', 'Zabé', 'Maria']

@ Remoção de elementos

* Para remover  `remove()` ou `pop()`
 * `remove()` - Remove o primeiro elemento
 * `pop()` - Remove o último elemento

In [ ]:
#Crie uma lista de números e 
numeros = [ 2, 4, 1, 6, 9, 12]
#remova o primeiro elemento da lista
numeros.remove(numeros[0])
#remova o último elemento da lista
numeros.pop()

numeros

[4, 1, 6, 9]

* Ordenação de Elementos

  * lista . `sort()` - ordena em ordem crescente
  * lista . `sort(reverse=True)` - ordena em ordem decrescente

In [7]:
#1 - Crie uma lista de notas, e exiba-a da menor para a maior
notas = [2,10, 9, 4, 7, 3, 8]
nomes = ['Ademar', 'Maristênio', 'Asdrúbal', 'Leo']
#notas.sort()
nomes.sort(reverse=True)
#2 - Crie uma lista de nomes de frutas e ordene-a em ordem decrescente

nomes

['Maristênio', 'Leo', 'Asdrúbal', 'Ademar']

* Função `map()` serve para aplicar uma função a cada elemento de uma lista, dispensando o uso de um loop (for ou while)
  * `map(funcao, iterável)`

* Função `filter()` serve para filtrar elementos de uma *sequência*

In [ ]:
#Pegar os preços de uma lista
#adicionar 2 a cada um deles
newPrecos = list(map(lambda x : x+2, precos))
newPrecos

In [21]:
notas = [6, 7, 3.5, 9, 6.5]
#quero apenas os aprovados.... 
aprovados = list(filter(lambda x : x<=7, map(lambda x : x+1, notas )))
aprovados

[7, 4.5]

In [17]:
#MAP map(função, iteravel)
precos = [9.99, 2.50, 3.45, 7.00, 10.99]

In [9]:
#Pegar os números de uma lista
#Criar outra lista com o dobro
nums = [6, 5, 2, 1, 7]
def dobro(lista):
  dobrolista = []
  for n in lista:
    dobrolista.append(n*2)
  return dobrolista

dobro(nums)

[12, 10, 4, 2, 14]

In [ ]:
#Exemplo função map - cria uma nova lista com o dobro 
numeros = [2, 4, 6, 3]
nova_lista = list(map(lambda x : x*2, numeros))
nova_lista

[4, 8, 12, 6]

In [ ]:
# pegar cada um dos números e dividir por 3
numDivi = list(map(lambda x : x/3, numeros ))

numDivi

[0.6666666666666666, 1.3333333333333333, 2.0, 1.0]

In [ ]:
#Pega cada número e soma 2.
soma2  = list(map(lambda x : x+2, numeros))
soma2

In [ ]:
#Sem usar função map associada à uma função lambda
new_list = []
for n in numeros:
  new_list.append(n*2)

new_list

In [ ]:
len('abacate')>5

True

In [ ]:
#Exemplo função filter - a partir de uma lista de nomes, criar uma nova lista apenas com palavras com mais de 5 caracteres

nomes = ['josé', 'joão', 'Sebastião', 'Angélica', 'Leonardo', 'Luana', 'Bárbara']

new_list = list(filter(lambda x : len(x)>5, nomes))
new_list

['Sebastião', 'Angélica', 'Leonardo', 'Bárbara']

In [ ]:
# crie uma lista de notas, imprime as maiores que 6
notas = [3, 4, 9, 8, 6, 7]
newNotas = list(filter(lambda x : x >= 6, notas ))

newNotas

[9, 8, 7]

* Exercícios usando map() e filter()
1. Dada uma lista de números, retorne uma lista contendo o quadrado de cada número.
2. Dada uma lista de nomes, retorne uma lista contendo o tamanho de cada nome.
3. Dada uma lista de números, retorne uma lista contendo apenas os números pares.
4. Dada uma lista de nomes, retorne uma lista contendo apenas os nomes que começam com a letra "A".
5. Recebe uma lista com notas de alunos, retorna apenas os aprovados (nota maior ou igual a 7)
6. Recebe uma lista de nomes, retorna apenas os que começam com vogal
7. Escreva uma função que recebe uma lista de números e retorna uma nova lista contendo apenas os números que são divisíveis por 3 e 5.
8. Escreva uma função que recebe uma lista de strings e retorna uma nova lista contendo apenas as strings que começam com uma letra maiúscula.
9. Recebe uma lista de strings, e retorna uma lista apenas com as iniciais de cada string.
10. Escreva uma função que recebe uma lista de números e retorna uma nova lista contendo apenas os números pares elevados ao quadrado.

In [ ]:
#1
numeros = [7, 6, 8, 12, 7]

new_list = list(map(lambda x : x**2, numeros))
new_list

[49, 36, 64, 144, 49]

In [ ]:
#2 
nomes = ['fada', 'ferro', 'miragem', 'atalho', 'nó']

new_list = list(map(lambda x : len(x),  nomes))
new_list

[4, 5, 7, 6, 2]

In [ ]:
#3
numeros = [7, 3, 1, 4, 8, 23, 12]

new_list = list(filter(lambda x: x%2==0, numeros ))

new_list

[4, 8, 12]

In [ ]:
#4
nomes = ['fada', 'arado', 'miragem', 'atalho', 'alho']

new_list = list(filter(lambda x : x[0] == 'a', nomes))
new_list

['arado', 'atalho', 'alho']

In [ ]:
#5 
notas = [5, 6.5, 7.5, 9, 8, 2, 6]

new_notas = list(filter(lambda x : x >= 7, notas))

new_notas

[7.5, 9, 8]

In [ ]:
#6
palavras = ['zangão', 'batata', 'ameixa', 'estrago', 'fanta', 'unha', 'ovo']

new_List = list(filter(lambda x : x[0].upper() in 'AEIOU', palavras))

new_List

['ameixa', 'estrago', 'unha', 'ovo']

In [ ]:
#7
numeros = [2, 3, 15, 30, 23, 60, 2, 45]

new_list = list(filter(lambda x : x%3 == 0 and x%5== 0, numeros))
new_list

[15, 30, 60, 45]

In [ ]:
#8
nomes = ['zangão', 'Zico', 'ameixa', 'Flamengo', 'fanta', 'unha', 'ovo']

new_List = list(filter(lambda x : x[0].isupper(), nomes))

new_List

['Zico', 'Flamengo']

In [ ]:
#9

iniciais = list(map(lambda x : x[0], nomes))

iniciais

['z', 'Z', 'a', 'F', 'f', 'u', 'o']

In [ ]:
#Escreva uma função que recebe uma lista de números e retorna uma nova lista contendo apenas os números pares elevados ao quadrado.

lista = [2, 3, 4, 1, 23, 6, 3]

pares_quadrados = list(map(lambda x : x**2, filter(lambda y : y%2==0, lista)))

pares_quadrados

[4, 16, 36]

- exercícios extra
1. Escreva uma função que recebe uma lista de números e retorna uma nova lista contendo apenas os números positivos.
2. Escreva uma função que recebe uma lista de números e retorna uma nova lista contendo apenas os números divisíveis por 3.
3. Escreva uma função que recebe uma lista de strings e retorna uma nova lista contendo as strings em ordem reversa.
4. Escreva uma função que recebe uma lista de números e retorna uma nova lista contendo o cubo de cada número ímpar.