<a href="https://colab.research.google.com/github/ramonparaiba/Aulas-Logica-de-Programcao-e-Algoritmos/blob/main/Aula_006_Colecoes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

COLEÇÕES EM PYTHON

Em Python, as coleções são estruturas de dados que permitem armazenar e manipular um grupo de elementos relacionados. As coleções são amplamente utilizadas em programação porque permitem que você trabalhe com dados de forma mais eficiente e organizada.

* Listas: são coleções ordenadas de elementos mutáveis.
  * Exemplo: uma lista de compras de supermercado que você precisa alterar durante a sua visita, incluindo itens duplicados, como ovos, leite, pão etc.
* Tuplas: são coleções ordenadas de elementos imutáveis.
  * Exemplo: coordenadas geográficas de uma cidade, onde as informações de latitude e longitude não mudam.
* Dicionários: são coleções não ordenadas de pares chave-valor mutáveis.
  * Exemplo: um dicionário de palavras em um dicionário, onde as chaves são as palavras e os valores são as definições.
* Conjuntos: são coleções não ordenadas de elementos mutáveis e não podem conter elementos duplicados.
  * Exemplo: uma lista de emails de clientes para campanhas de marketing, onde você precisa garantir que cada endereço de email seja exclusivo.

/ Também é comum o uso do termo "iterável" para se referir às coleções

#Listas
________________________
Ordenadas e Mutáveis

In [ ]:
#Criando Listas
lista_vazia = []

#Lista com elementos
lista_Com_coisas = [2, 4, 3, 'quatro', 'cinco']

In [ ]:
#Acessando Elementos da lista
lista = [1, 2, 3, "quatro", "cinco"]

print(lista[0])  # 1
print(lista[3])  # "quatro"
print(lista[-1]) # "cinco"

1
quatro
cinco

* Operações com Lista

@ Adicionar elementos
  * Para adicionar elementos use um dos métodos `append()` ou `extend()` 
  *`append()` - para adicionar um elemento ao final da lista
  *`extend()` - para adicionar vários elementos ao final da lista

In [ ]:
nomes = ['ze', 'tião', 'joaquim']
nomes.append('julia')

#vários valores
outrosNomes = ['Ana', 'Zabé', 'Maria']
nomes.extend(outrosNomes)

nomes

['ze', 'tião', 'joaquim', 'julia', 'Ana', 'Zabé', 'Maria']

@ Remoção de elementos

* Para remover  `remove()` ou `pop()`
 * `remove()` - Remove o primeiro elemento
 * `pop()` - Remove o último elemento

In [ ]:
#Crie uma lista de números e 
numeros = [ 2, 4, 1, 6, 9, 12]
#remova o primeiro elemento da lista
numeros.remove(numeros[0])
#remova o último elemento da lista
numeros.pop()

numeros

[4, 1, 6, 9]

* Ordenação de Elementos

  * lista . `sort()` - ordena em ordem crescente
  * lista . `sort(reverse=True)` - ordena em ordem decrescente

In [ ]:
#1 - Crie uma lista de notas, e exiba-a da menor para a maior
notas = [2,10, 9, 4, 7, 3, 8]
nomes = ['Ademar', 'Maristênio', 'Asdrúbal', 'Leo']
#notas.sort()
nomes.sort(reverse=True)
#2 - Crie uma lista de nomes de frutas e ordene-a em ordem decrescente

nomes

['Maristênio', 'Leo', 'Asdrúbal', 'Ademar']

* Função `map()` serve para aplicar uma função a cada elemento de uma lista, dispensando o uso de um loop (for ou while)
  * `map(funcao, iterável)`

* Função `filter()` serve para filtrar elementos de uma *sequência*

In [ ]:
#Pegar os preços de uma lista
#adicionar 2 a cada um deles
newPrecos = list(map(lambda x : x+2, precos))
newPrecos

In [ ]:
notas = [6, 7, 3.5, 9, 6.5]
#quero apenas os aprovados.... 
aprovados = list(filter(lambda x : x<=7, map(lambda x : x+1, notas )))
aprovados

[7, 4.5]

In [ ]:
#MAP map(função, iteravel)
precos = [9.99, 2.50, 3.45, 7.00, 10.99]

In [ ]:
#Pegar os números de uma lista
#Criar outra lista com o dobro
nums = [6, 5, 2, 1, 7]
def dobro(lista):
  dobrolista = []
  for n in lista:
    dobrolista.append(n*2)
  return dobrolista

dobro(nums)

[12, 10, 4, 2, 14]

In [ ]:
#Exemplo função map - cria uma nova lista com o dobro 
numeros = [2, 4, 6, 3]
nova_lista = list(map(lambda x : x*2, numeros))
nova_lista

[4, 8, 12, 6]

In [ ]:
# pegar cada um dos números e dividir por 3
numDivi = list(map(lambda x : x/3, numeros ))

numDivi

[0.6666666666666666, 1.3333333333333333, 2.0, 1.0]

In [ ]:
#Pega cada número e soma 2.
soma2  = list(map(lambda x : x+2, numeros))
soma2

In [ ]:
#Sem usar função map associada à uma função lambda
new_list = []
for n in numeros:
  new_list.append(n*2)

new_list

In [ ]:
len('abacate')>5

True

In [ ]:
#Exemplo função filter - a partir de uma lista de nomes, criar uma nova lista apenas com palavras com mais de 5 caracteres

nomes = ['josé', 'joão', 'Sebastião', 'Angélica', 'Leonardo', 'Luana', 'Bárbara']

new_list = list(filter(lambda x : len(x)>5, nomes))
new_list

['Sebastião', 'Angélica', 'Leonardo', 'Bárbara']

In [ ]:
# crie uma lista de notas, imprime as maiores que 6
notas = [3, 4, 9, 8, 6, 7]
newNotas = list(filter(lambda x : x >= 6, notas ))

newNotas

[9, 8, 7]

* Exercícios usando map() e filter()
1. Dada uma lista de números, retorne uma lista contendo o quadrado de cada número.
2. Dada uma lista de nomes, retorne uma lista contendo o tamanho de cada nome.
3. Dada uma lista de números, retorne uma lista contendo apenas os números pares.
4. Dada uma lista de nomes, retorne uma lista contendo apenas os nomes que começam com a letra "A".
5. Recebe uma lista com notas de alunos, retorna apenas os aprovados (nota maior ou igual a 7)
6. Recebe uma lista de nomes, retorna apenas os que começam com vogal
7. Escreva uma função que recebe uma lista de números e retorna uma nova lista contendo apenas os números que são divisíveis por 3 e 5.
8. Escreva uma função que recebe uma lista de strings e retorna uma nova lista contendo apenas as strings que começam com uma letra maiúscula.
9. Recebe uma lista de strings, e retorna uma lista apenas com as iniciais de cada string.
10. Escreva uma função que recebe uma lista de números e retorna uma nova lista contendo apenas os números pares elevados ao quadrado.

In [ ]:
#1
numeros = [7, 6, 8, 12, 7]

new_list = list(map(lambda x : x**2, numeros))
new_list

[49, 36, 64, 144, 49]

In [ ]:
#2 
nomes = ['fada', 'ferro', 'miragem', 'atalho', 'nó']

new_list = list(map(lambda x : len(x),  nomes))
new_list

[4, 5, 7, 6, 2]

In [ ]:
#3
numeros = [7, 3, 1, 4, 8, 23, 12]

new_list = list(filter(lambda x: x%2==0, numeros ))

new_list

[4, 8, 12]

In [ ]:
#4
nomes = ['fada', 'arado', 'miragem', 'atalho', 'alho']

new_list = list(filter(lambda x : x[0] == 'a', nomes))
new_list

['arado', 'atalho', 'alho']

In [ ]:
#5 
notas = [5, 6.5, 7.5, 9, 8, 2, 6]

new_notas = list(filter(lambda x : x >= 7, notas))

new_notas

[7.5, 9, 8]

In [ ]:
#6
palavras = ['zangão', 'batata', 'ameixa', 'estrago', 'fanta', 'unha', 'ovo']

new_List = list(filter(lambda x : x[0].upper() in 'AEIOU', palavras))

new_List

['ameixa', 'estrago', 'unha', 'ovo']

In [ ]:
#7
numeros = [2, 3, 15, 30, 23, 60, 2, 45]

new_list = list(filter(lambda x : x%3 == 0 and x%5== 0, numeros))
new_list

[15, 30, 60, 45]

In [ ]:
#8
nomes = ['zangão', 'Zico', 'ameixa', 'Flamengo', 'fanta', 'unha', 'ovo']

new_List = list(filter(lambda x : x[0].isupper(), nomes))

new_List

['Zico', 'Flamengo']

In [ ]:
#9

iniciais = list(map(lambda x : x[0], nomes))

iniciais

['z', 'Z', 'a', 'F', 'f', 'u', 'o']

In [ ]:
#Escreva uma função que recebe uma lista de números e retorna uma nova lista contendo apenas os números pares elevados ao quadrado.

lista = [2, 3, 4, 1, 23, 6, 3]

pares_quadrados = list(map(lambda x : x**2, filter(lambda y : y%2==0, lista)))

pares_quadrados

[4, 16, 36]

- exercícios extra
1. Escreva uma função que recebe uma lista de números e retorna uma nova lista contendo apenas os números positivos.
2. Escreva uma função que recebe uma lista de números e retorna uma nova lista contendo apenas os números divisíveis por 3.
3. Escreva uma função que recebe uma lista de strings e retorna uma nova lista contendo as strings em ordem reversa.
4. Escreva uma função que recebe uma lista de números e retorna uma nova lista contendo o cubo de cada número ímpar.

#TUPLAS
_____________________
Uma tupla é uma coleção ordenada e imutável de elementos em Python

In [15]:
tp_frutas = ('maçã', 'banana', 'laranja', 'goiaba')
tp_frutas

('maçã', 'banana', 'laranja', 'goiaba')

In [10]:
#Tente inserir algum elemento na tupla
#Tente modificar um valor de elemento na tupla

As tuplas podem conter qualquer tipo de dado, incluindo números, strings, booleanos, listas e até outras tuplas. Veja um exemplo de tupla mista:

In [12]:
tp_mista = ('jaca', 42, True, [1, 2, 3])

In [ ]:
#Tamanho de uma TUPLA
len(tp_frutas)

In [19]:
#Acessando elementos de uma TUPLA
tp_frutas[0]
tp_frutas[2]

'laranja'

In [24]:
#Criando uma lista a partir de uma tupla ou uma tupla a partir de uma lista.
lst_frutas = list(tp_frutas)
type(tp_frutas)
tp_fruta2 = tuple(lst_frutas)
type(tp_fruta2)

tuple

In [ ]:
#Fatiamento (Slicing)
tp_meses = ('jan', 'fev', 'mar', 'abr', 'mai', 'jun', 'jul', 'ago', 'set', 'out', 'nov', 'dez')
# se quiser apenas os meses de Junho a Nov
print(tp_meses[5:11])

In [ ]:
#Usando o processo de fatiamento, crie uma nova tupla apenas com os meses do segundo trimestre (abril - Jun)

* Algumas aplicações básicas para TUPLAS

In [28]:
#Coordenadas Geográficas
coord = (-7.11532, -34.861) #João Pessoa

In [ ]:
#Dados imutáveis
data_criacao = (2015, 7, 6) #Data de criação de um documento

In [12]:
#Ordenação de dados *sort(value, key = x)
#Ordenar os estados pelo DDD e não pelo nome
uf_cod = [('PE', 81), ('RJ', 21), ('SP', 11), ('PB', 83), ('MT', 65), ('AL', 82)]
sorted(uf_cod, key = lambda x : x[1])

[('SP', 11), ('RJ', 21), ('MT', 65), ('PE', 81), ('AL', 82), ('PB', 83)]

In [30]:
#Desempacotamento de valores.
def nome_idade_uf():
  nome = "Epaminondas"
  idade = 28
  uf = 'RN'
  return nome, idade, uf

name, age, uf = nome_idade_uf()

print(name, age, uf)

Epaminondas 28 RN

In [43]:
#Mapeamento de valores
alunos = ('Kelly', 'Adauto', 'Marceline', 'Luana', 'Henrique')
notas = (5.5, 8, 9, 7.5, 6.5)

mapeamento = tuple(zip(alunos, notas))

mapeamento

(('Kelly', 5.5),
 ('Adauto', 8),
 ('Marceline', 9),
 ('Luana', 7.5),
 ('Henrique', 6.5))

* A função `zip()` é utilizada para combinar elementos de duas ou mais sequências em pares ordenados. Ela retorna um iterador que pode ser convertido em uma lista, tupla ou outro tipo de coleção.
*  a função `tuple()` é utilizada para criar uma tupla

* Exercício Tuplas
1. Escreva uma função que receba duas tuplas como entrada e retorne uma única tupla que seja a concatenação das duas
2. Escreva uma função que receba uma tupla contendo o nome e endereço contendo, logradouro,  número e bairro de uma pessoa e retorne uma string formatada.
3. Escreva uma função que receba uma lista de tuplas contendo nome e idade de pessoas e retorne a lista ordenada por idade.

In [33]:
def formatada(tupla):
  nome, logradouro, num, bairro = tupla
  return f'Nome:{nome}, residente a {logradouro}, {num}, {bairro}.'

dadosCliente = ('Manoelina', 'Rua das Couves', '42', 'Torre')

print (formatada(dadosCliente))

Nome:Manoelina, residente a Rua das Couves, 42, Torre.

#Dicionários  { } 
_____
Armazenamento baseado em "chave-valor"

In [1]:
#Criando dicionários
#Os dicionários são definidos utilizando chaves {} 
#e os pares chave-valor são separados por dois pontos (:)

#Contatos
contato = {
    'Ostervaldo' : 'oster@email.com',
    'Maristênio' : 'marist@email.com',
    'Leroiane' : 'lero@email.com' 
}

contato

{'Ostervaldo': 'oster@email.com',
 'Maristênio': 'marist@email.com',
 'Leroiane': 'lero@email.com'}

In [2]:
#Acessando valores
contato['Maristênio']

'marist@email.com'

In [3]:
#Para evitar erros ao buscar por possíveis valores inexistentes, utilizar o get()
contato.get('Atanásio', 'Valor não encontrado')

'Valor não encontrado'

Adicionando, Modificando e Removendo Pares Chave-Valor

In [4]:
#Adicionar
contato['Evilásio'] = 'evi@exemplo.com'

contato

{'Ostervaldo': 'oster@email.com',
 'Maristênio': 'marist@email.com',
 'Leroiane': 'lero@email.com',
 'Evilásio': 'evi@exemplo.com'}

In [5]:
#Adição por concatenação
a = {'zé': 'ze@mailzemplo.com', 'gardenia':'gardenia@exemplo.com'}

contato.update(a)

contato

{'Ostervaldo': 'oster@email.com',
 'Maristênio': 'marist@email.com',
 'Leroiane': 'lero@email.com',
 'Evilásio': 'evi@exemplo.com',
 'zé': 'ze@mailzemplo.com',
 'gardenia': 'gardenia@exemplo.com'}

In [ ]:
#Modificar (só inserir um novo valor à chave correspondente)
contato['Maristênio'] = 'mari2023@exemplo.com'

contato

In [ ]:
#Remoção del

del contato['Evilásio']

contato

In [ ]:
#Iterando sobre dicionários
for nome, email in contato.items():
  print(f'o Email {email} pertence a {nome}')

`items()` é um método utilizado em dicionários em Python. Ela retorna uma lista de tuplas, em que cada tupla contém um par chave-valor do dicionário.

In [ ]:
#métodos úteis keys(), values()
contato.values()

In [23]:
#Valores máximos, mínimos e ordenações
curso = {'Alice': 8.5, 'Tiago': 7.0, 'Chico': 6.5, 'Nubia': 10}
#Quem obteve a maior nota?
max(curso, key=curso.get)
#quem teve o pior desempenho?
min(curso, key=curso.get)
#Ordene da menor nota para a maior
sorted(curso, key=curso.get)
#ordenar da maior nota para a menor
sorted(curso, key=curso.get, reverse=True)

['Nubia', 'Alice', 'Tiago', 'Chico']

-- Exercícios


1. O dicionário a seguir contém uma relação de atletas e seus respectivos tempos em uma corrida de 100 metros. `corrida100m = {'Zé': 10, 'marco': 9.9, 'Marta': 9.98, 'Lourdes': 10.2}`
  - Crie um código em python que retorna:
    * Quem chegou primeiro
    * Quem chegou por último
    * Ordene os atletas do primeiro ao último lugar.
2. Escreva uma função que receba dois dicionários como entrada e retorne um novo dicionário contendo a união dos dois dicionários.
1. Faça um dicionário contendo, incialmente, 5 produtos de beleza, deve ter nome do produto, marca, preço e breve descrição
  * por exemplo: `{ 'nome': 'batom', 'marca': 'avon', 'preco': 10.99, 'descricao' : 'Batom vermelho impermeável' } `

In [14]:
curso = {'Alice': 8.5, 'Tiago': 7.0, 'Chico': 6.5, 'Nubia': 10}

max(curso, key=curso.get)

'Nubia'