<a href="https://colab.research.google.com/github/ramonparaiba/Aulas-Logica-de-Programcao-e-Algoritmos/blob/main/Colecoes_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Listas (list)
✅ Características:
Ordenadas

Mutáveis

Permitem duplicatas

In [ ]:
#Imprimir lista

frutas = ['maçã', 'banana', 'laranja', 'abacate']
print(frutas)

['maçã', 'banana', 'laranja', 'abacate']

In [ ]:
#identificar o tamanho de uma lista len(lista)

print(len(frutas))

4

In [ ]:
# Count() - quantas vezes um valor aparece
frutas = ['maçã', 'banana', 'laranja', 'laranja', 'laranja', 'laranja']
print(frutas.count('laranja'))

4

In [ ]:
#Imprimir elementos da lista pelo índice
carros = ['gol', 'uno', 'fiesta', 'lada', 'marajó', 'voyage', 'santana']

print(carros[0])  #gol
print(carros[1])  #uno
print(carros[2])  #fiesta
print(carros[-1]) # santana
print(carros[2:5]) #Slice do índice 2 ao índice 4
print(carros[:4]) #slice até o indice 3
print(carros[2:]) #slice a partir do indice 2
#print(carros[7]) OUT OF INDEX

In [ ]:
carros[3:]

['lada', 'marajó', 'voyage', 'santana']

In [ ]:
#Adicioar elementos em uma lista   lista.append('elemento')
frutas.append('goiaba')
print(frutas)

In [ ]:
#Exercício 1
#Faça um código que pede que o usuário digite frutas e
#insere uma fruta na lista.

In [ ]:
fruta = input('Por favor insira uma fruta: ')
frutas.append(fruta)
print(frutas)

Por favor insira uma fruta: Graviola
['maçã', 'banana', 'laranja', 'laranja', 'laranja', 'laranja', 'Graviola']

In [ ]:
#Exercício 2
#Faça um laço o qual solicita ao usuário que digite
#o nome de um carro para inseri-lo na lista.
#Ele para quando o usuário digitar o número 0.
#Ao final, imprime a lista e o seu tamanho.

carros = []
carro = input('Digite o carro: ')
while carro != '0':
  carros.append(carro)
  carro = input('Digite o carro: ')
print(carros)
print(len(carros))

In [ ]:
carros = []
while True:
  carro = input('Digite o carro: ')
  if carro == '0':
    break
  carros.append(carro)

print(carros)
print(len(carros))

In [ ]:
#Exercício 3
#Escreva um programa pyton que tem uma lista de valores, e o usuário deve digitar um valor
#caso ele exista na lista, ela retorna a quantidade de vezes que ela ocorre na lista
#caso não exista, ela informa ao usuário "Numero não existe na lista".
lista = [2, 4, 5, 2, 3, 7, 8, 2, 5]

In [ ]:
numero = int(input('Digite um número: '))
if numero in lista:
  print(lista.count(numero))
else:
  print('numero não existe na lista')

##Removendo valores

In [ ]:
carros = ['gol', 'uno', 'fiesta', 'lada', 'marajó', 'voyage', 'santana']

In [ ]:
#pop()
carros.pop(3)
print(carros)

['gol', 'uno', 'fiesta', 'marajó', 'voyage', 'santana']

In [ ]:
#pop pelo índice
lista = ["maçã", "banana", "laranja"]
indice = lista.index("banana")  # Encontra o índice de "banana"
lista.pop(indice)  # Remove pelo índice
print(lista)  # Saída: ['maçã', 'laranja']

['maçã', 'laranja']

In [ ]:
#del list[index]
nums = [4, 5, 3, 2, 6, 8]

del nums[3]
print(nums)

[4, 5, 3, 6, 8]

In [ ]:
#remove() - remove a primeira ocorrencia do valor especificado
lista = ['jaca', 'melão', 'manga', 'graviola', 'jaca']

lista.remove('jaca')
print(lista)

['melão', 'manga', 'graviola', 'jaca']

In [ ]:
#list comprehension
lista = ['jaca', 'melão', 'manga', 'graviola', 'jaca', 'maça', 'banana', 'jaca']

fruta_remover = 'jaca'

lista = [x for x in lista if x != fruta_remover]

print(lista)

['melão', 'manga', 'graviola', 'maça', 'banana']

In [ ]:
#na lista de notas a seguir, mantenha apenas as que
#são maiores ou iguais a seis. use list comprehension
notas = [6, 8, 5, 4, 7, 7, 9, 3, 6]

In [ ]:
notas = [x for x in notas if x >= 6]

print(notas)

[6, 8, 7, 7, 9, 6]

### Exercício
Crie um program que simula uma lista de tarefas. O programa deve exibir um menu com 4 opções:
1. Adicionar tarefa
2. Remover tarefa
3. Listar tarefas
4. Sair

O programa deve continuar exibindo o menu até o usuário escolher a opção de sair.

### Revisão List comprehension

É uma forma concisa e elegante de criar listas em Python a partir de iteráveis (como listas, ranges, etc.), aplicando transformações e condições.

In [ ]:
lista = [ação/valor for x in lista2 condição]

In [48]:
notas = [8, 9, 4, 3, 6]
#as notas maiores que 7
maiores = [nota for nota in notas if nota > 7]
print(maiores)

[8, 9]

In [ ]:
#Que exibe as notas menores que 5

In [32]:
# Criar uma lista com os quadrados dos números de 0 a 9
quadrados = [x**2 for x in range(10)]
print(quadrados)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [38]:
#List Comprehension com Condicional
# Filtrar apenas os números pares de uma lista
numeros = [1, 2, 3, 4, 5, 6]
pares = [n for n in numeros if n % 2 == 0]
print(pares)

[2, 4, 6]

In [ ]:
#Strings
nome = 'Pablo'
for letra in nome:
  print(letra)

print(len(nome)) #Imprime o tamanho da string
print(nome.upper())  #Todos os caracteres maiúsculos
print(nome.lower()) #Todos os caracteres minusculos

In [58]:
nomes = ['João', 'Ana', 'Epaminondas', 'Godofredo', 'Lair', 'Setembrino']

maisDe5 = [ nome for nome in nomes if len(nome) > 4]
print(maisDe5)

['Epaminondas', 'Godofredo', 'Setembrino']

In [61]:
#Caixa alta os nomes com 4 letras ou menos
caixaAlta = [nome.upper() for nome in nomes if len(nome) < 5 ]
print(caixaAlta)

['JOÃO', 'ANA', 'LAIR']

In [39]:
# Dobrar os números ímpares de uma lista
dobro_impares = [n*2 for n in numeros if n % 2 != 0]
print(dobro_impares)

[2, 6, 10]

In [62]:
# Atribuir 2 pontos as notas menores que 5
notas =[9.0, 4.5, 2.3, 6.0, 8.2, 5.3]

pontos = [nota+2 for nota in notas if nota < 5]
print(pontos)

[6.5, 4.3]

### Exercício
1. Crie uma lista com o dobro de cada número
2. Transformar uma lista de palavras em letras maiúsculas

### Função Lambda

lambda cria funções anônimas, ou seja, sem nome. É usada para escrever funções simples em uma única linha.
- Sintaxe
 - lambda argumentos: expressão

In [ ]:
int soma(a, b){
    return a + b
}

function soma (a, b){
    return a + b
}

def soma(a, b):
  return a + b

In [63]:
soma = lambda a, b : a+b
print(soma(10, 5))

15

In [64]:
metade = lambda a : a/2
print (metade(9))

4.5

In [40]:
# Função que soma dois valores
soma = lambda x, y: x + y
print(soma(3, 5))

8

#### Usada frequentemente com funções como map() e filter().

#### map() → Transformar
A função map() aplica uma função a cada item de um iterável (como uma lista), retornando um novo iterador com os valores transformados.

In [ ]:
#list(map(funçãolambda, lista))

In [45]:
#Com map
numeros = [2,3,4,5,6,7]
quadrados = list(map(lambda x: x**2, numeros))
print(quadrados)

[4, 9, 16, 25, 36, 49]

In [66]:
#Cria uma lista com o dobro de cada elemento.
dobro = list(map(lambda x : x*2, numeros))
print(dobro)

[4, 6, 8, 10, 12, 14]

In [67]:
#Converter uma lista de palavras para letras maiúsculas
palavras = ['é', 'Hoje', 'my', 'ConsaGrated']
Upper = list(map(lambda x : x.upper(), palavras))
print(Upper)

['É', 'HOJE', 'MY', 'CONSAGRATED']

In [ ]:
#Somar 5 a cada número de uma lista

#### filter() → Selecionar
A função filter() aplica uma função que retorna True ou False a cada item de um iterável, mantendo apenas os que retornam True.

In [ ]:
numeros = [1, 2, 3, 4]
pares = list(filter(lambda x: x % 2 == 0, numeros))
print(pares)  # [2, 4]

In [69]:
#Filtrar apenas palavras com mais de 4 letras
nomes = ['Cristiano', 'Alien', 'Ary', 'Bete', 'Já']

mais4Letras = list(filter(lambda x: len(x)>4, nomes))
print(mais4Letras)

['Cristiano', 'Alien']

In [72]:
#Filtrar números maiores que 10
nums = [2, 4, 55, 6, 11, 89]
dezOuMais = list(filter(lambda x : x > 10, nums))
print(dezOuMais)

[55, 11, 89]

### Exercícios -
Dada a lista abaixo:
numeros = [3, 7, 2, 8, 1, 4, 10]

- Responda às seguintes questões e implemente o código correspondente:
1. Dobrar todos os números da lista.
- Você deve usar map() ou filter()?
- Escreva o código.

2. Selecionar apenas os números pares.
- Você deve usar map() ou filter()?
- Escreva o código.

3. Criar uma nova lista onde os números pares são dobrados e os ímpares permanecem iguais.
- Qual estrutura você usaria: map() ou filter() ou list comprehension?
- Escreva o código.

In [76]:
for num in numeros:
  if num % 2 == 0:
    print(num*2)
  else:
    print(num)

3
7
4
16
1
8
20

In [77]:
numeros = [3, 7, 2, 8, 1, 4, 10]
dobrar = list(map(lambda x : x*2, numeros))
print(dobrar)

selecionaPares = list(filter(lambda x : x % 2 == 0, numeros))
print(selecionaPares)

paresImpares = [n*2 if n % 2 == 0
                else n
                for n in numeros]
print(paresImpares)

[6, 14, 4, 16, 2, 8, 20]
[2, 8, 4, 10]
[3, 7, 4, 16, 1, 8, 20]

In [ ]:
numeros = [3, 7, 2, 8, 1, 4, 10]

# 1. Dobrar todos os números → usar map
dobrados = list(map(lambda x: x * 2, numeros))

# 2. Filtrar apenas pares → usar filter
pares = list(filter(lambda x: x % 2 == 0, numeros))

# 3. Dobrar pares, manter ímpares → usar list comprehension
misturado = [x * 2 if x % 2 == 0 else x for x in numeros]

print("Dobrados:", dobrados)
print("Pares:", pares)
print("Misturado:", misturado)

## Dicionários (dict) { }
- Os dicionários (dict) em Python são estruturas de dados mutáveis que armazenam pares de chave-valor. Eles são ideais para mapeamentos rápidos e eficientes, como bancos de dados simples ou configurações.

In [1]:
dicionario_vazio = {}                     # Dicionário vazio
dicionario = {
    "nome": "João",
    "idade": 25
    } # Chave: valor
dicionario_misto = {1: "a", True: "b"}    # Chaves podem ser números/booleanos

#Chaves devem ser únicas e imutáveis (strings, números, tuplas).
#Valores podem ser de qualquer tipo (listas, outros dicionários, etc.).

### Acessar valores

In [3]:
#Método direto (com erro se a chave não existir)

dados = {"nome": "Maria", "idade": 30}
print(dados["nome"])   # Saída: Maria
# print(dados["telefone"])  # KeyError (chave não existe)
print(dados)

Maria
{'nome': 'Maria', 'idade': 30}

## Exercício 1- Crie um dicionário chamado livro com as seguintes informações:

- título
- autor
- ano de publicação

Imprima o dicionário na tela.

### Acessando Valores

In [19]:
aluno = {
    "nome": "João",
    "idade": 20,
    "curso": "Engenharia"
}

In [8]:
print(aluno["nome"])  # João

João

In [ ]:
#Método get() (retorna None ou valor padrão se não existir evitando erros)

print(dados.get("nome"))        # Saída: Maria
print(dados.get("telefone"))    # Saída: None
print(dados.get("telefone", "Não informado"))  # Saída: "Não informado"

### Exercício 2 - Acesso Seguro
Utilize o método .get() para acessar o valor da chave editora no dicionário livro criado anteriormente. Forneça um valor padrão "Desconhecida".

### Adicionar ou Modificar Itens

In [20]:
aluno["matricula"] = "12345"
aluno["idade"] = 21
print(aluno)

{'nome': 'João', 'idade': 21, 'curso': 'Engenharia', 'matricula': '12345'}

### Exercício 3
Adicione a chave editora ao dicionário livro e depois atualize o ano de publicação para 2023.

### Remoção de itens

In [16]:
#del (remove pela chave, com erro se não existir)
del aluno["curso"]
print(aluno)

{'nome': 'João', 'idade': 21, 'matricula': '12345'}

In [21]:
#pop() (remove e retorna o valor, pode definir padrão)

aluno.pop("curso", 0)
print(aluno)

{'nome': 'João', 'idade': 21, 'matricula': '12345'}

In [22]:
#popitem() (remove e retorna o último item adicionado)

item = aluno.popitem()
print(item)  # Saída: ('nome', 'Ana')

('matricula', '12345')

In [ ]:
#clear() (limpa todo o dicionário)

dados.clear()
print(dados)  # Saída: {}

### Exercício 4 - Remoção
Remova a chave autor do dicionário livro.

### Verificar chaves e valores

In [24]:
dados = {"nome": "Pedro", "idade": 35}

# Verifica se a chave existe
print("nome" in dados)        # Saída: True
print("telefone" in dados)    # Saída: False

# Verifica se o valor existe
print("Pedro" in dados.values())  # Saída: True

True
False
True

In [31]:
print(type(dados.items()))

<class 'dict_items'>

### Iterar sobre um Dicionário

In [27]:
#Percorrer chaves
for chave in dados.keys():
    print(chave)  # Saída: nome, idade

nome
idade

In [28]:
#Percorrer valores
for valor in dados.values():
  print(valor)  # Saída: Pedro, 35

Pedro
35

In [29]:
#Percorrer chaves e valores (items())
for chave, valor in dados.items():
  print(f"{chave}: {valor}")

nome: Pedro
idade: 35

### Exercício 5 - Iteração
Crie um dicionário com 3 linguagens de programação e o ano em que foram lançadas. Percorra o dicionário e exiba uma frase para cada par chave-valor.

## Listas de dicionários

In [ ]:
turma = [
    {"nome": "Ana", "nota": 8.5},
    {"nome": "Lucas", "nota": 7.0}
]

In [ ]:
# Inserir novo dicionário na lista
turma.append({"nome": "Carlos", "nota": 6.5})
print(turma)

In [ ]:
#acessar dados

print("Nome do primeiro aluno:", turma[0]["nome"])
print("Nota do segundo aluno:", turma[1]["nota"])

In [ ]:
#Modificar nota
turma[0]["nota"] = 9.0
print(turma)

#Projeto final
Crie um sistema simples de cadastro de contatos:

- O programa deve pedir nome, telefone e e-mail.
- Armazene os dados em um dicionário.
- Permita ao usuário listar os contatos cadastrados.

#########################################*****#####################################################

#Tuplas (tuple)
✅ Características:
Ordenadas

Imutáveis

Permitem duplicatas

- As tuplas (tuples) em Python são coleções ordenadas e imutáveis, ou seja, depois de criadas, não podem ser alteradas. Elas são úteis para armazenar dados que não devem ser modificados.
- Tuplas são ideais para armazenar dados que não devem ser alterados, como configurações de sistema, valores fixos de referência, dias da semana, ou coordenadas geográficas fixas

In [ ]:
#Criação de Tuplas
tupla_vazia = ()                 # Tupla vazia
tupla = (1, 2, 3)               # Tupla com elementos
tupla_misturada = (1, "a", 3.5) # Tupla com tipos diferentes
tupla_sem_parenteses = 1, 2, 3  # Também é uma tupla (sem parênteses)

In [ ]:
#Acessar elementos
tupla = (10, 20, 30, 40, 50)

print(tupla[0])    # Saída: 10 (primeiro elemento)
print(tupla[-1])   # Saída: 50 (último elemento)
print(tupla[1:3])  # Saída: (20, 30) (slice entre índices 1 e 2)

In [ ]:
#concatenar tuplas
tupla1 = (1, 2, 3)
tupla2 = ("a", "b", "c")
nova_tupla = tupla1 + tupla2
print(nova_tupla)  # Saída: (1, 2, 3, 'a', 'b', 'c')

In [ ]:
#repetir tuplas
tupla = ("oi", "Paraíba")
tupla_repetida = tupla * 3
print(tupla_repetida)  # Saída: ('oi', 'Paraíba', 'oi', 'Paraíba', 'oi', 'Paraíba')

In [ ]:
#Verificar Existência de um Elemento (in)
tupla = ("a", "b", "c")
print("b" in tupla)   # Saída: True
print("x" in tupla)   # Saída: False

In [ ]:
#Converter Lista em Tupla (tuple())

lista = [1, 2, 3]
tupla = tuple(lista)
print(tupla)  # Saída: (1, 2, 3)

In [ ]:
#Iterar sobre Tuplas
tupla = ("Python", "Java", "C++")
for linguagem in tupla:
    print(linguagem)